@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "byekan";
  src: url("../public/B_Yekan/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #292929;
  direction: rtl;
  font-family: byekan, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
